/*============================================================================
    #Sass Variables
==============================================================================*/
:root {
    --max-width: 1920px;
    --large-max-width: 960px;
    --medium-max-width: 720px;
    --small-max-width: 540px;

    --large-padding: 255px;
    --medium-padding: 100px;
    --small-padding: 30px;
}

// @import "elements/_01_variables.scss";
@import "elements/function.scss";
@import "elements/02_variables.scss";

/*============================================================================
    #Sass Mixins & Tools
==============================================================================*/
@import "elements/_mixin.scss";

//Element  
/* ============== Element ============== */
@import "elements/reset.scss";
@import "elements/header.scss";
@import "elements/list-product.scss";
@import "elements/block-image.scss";
@import "elements/carousel.scss";
@import "elements/back-to-top.scss";
@import "elements/footer.scss";
