<div class="container">
    <div class="carrousel p-mx">
        <h1>Carrousel</h1>
        <a href="#">123123</a>
    </div>
</div>

{%- schema -%}
{
    "name" : {
        "en": "Carrousel"
    },
    "settings" : [],
    "blocks": [],
    "presets": [
        {
            "name": "Carrousel",
            "category": "Advanced layout"
        }
    ]
}
{%- endschema -%}