<div class="footer-bot">
  <div class="{{ _layout_class }}">      
    <div class="table-row">

      <div class="copyright">
        <p>&copy; {{ 'now' | date: '%Y' }} <strong>{{ shop.name }}</strong>. All Rights Reserved</p>
      </div>
      
      {% include 'footer-payment-icon' %} 

    </div>
  </div>
</div>