{% include 'header-top-bar' %}

<div class="header-main">
  <div class="{{ _layout_class }}">
    <div class="table-row">

      <div class="navbar navbar-responsive-menu d-lg-none">
        <div class="responsive-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
      
      {% include 'header-logo' %}
      {% include 'header-mobile-cart-icon' %}
      {% include 'header-search' %}
      {% include 'header-icons' %}

    </div>
  </div>
</div>

{% unless section.settings.nav_linklist == blank %}
  <div class="header-navigation d-none d-lg-block">
    <div class="{{ _layout_class }}">
      {% include 'header-horizontal-menu' %}
    </div>
  </div>
{% endunless %}
