.container{
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;

    @include respond-to(992){
        max-width: var(--large-max-width);
    }
    @include respond-to(768){
        max-width: var(--medium-max-width);
    }
    @include respond-to(576){
        max-width: var(--small-max-width);
    }
}

.container-fluid{
    width: 100%;
}

.p-mx{
    padding-left: var(--large-padding);
    padding-right: var(--large-padding);

    @include respond-to(1280){
        padding-left: var(--medium-padding);
        padding-right: var(--medium-padding);
    }
    @include respond-to(600){
        padding-left: var(--small-padding);
        padding-right: var(--small-padding);
    }
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
}

.subtitle-1{
    font-style: normal;
    font-weight: normal;
    @include font-size(16px, 20px);
    letter-spacing: 0.2px;
    color: #252A2F;
}

.title-1{
    font-style: normal;
    font-weight: bold;
    @include font-size(20px, 52px);
    letter-spacing: 2px;
    color: #0F1214;
}

.button-1{
    display: inline-block;
    @include font-size(12px, 14px);
    letter-spacing: 0.1px;
    background: #0F1214;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #FFFFFF;
    padding: 11px 53px;

    @include respond-to(600){
        padding: 5px 20px !important;
    }
}