.footer{
    padding-top: 58px;
    padding-bottom: 52px;
    @include respond-to(600) {
        padding-top: 29px;
        padding-bottom: 26px;
    }

    position: relative;
    color: #FFFFFF;
    text-align: center;

    &__logo{
        a{
            width: 100%;
            display: inline-block;
            @include respond-to(600) {
                max-width: 200px !important;
            }
        }
        img{
            width: 100%;
        }
    }

    &__social{
        margin-top: 25px;
        margin-bottom: 40px;
        @include respond-to(600) {
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    &__content-wrapper{
        display: grid;
        margin: 0 auto;
        width: 50%;
        @include respond-to(1480){
            width: 75%;
        }
        @include respond-to(600){
            width: 100%;
        }

    }
    .card_footer-title{
        text-transform: uppercase;
        @include font-size(14px, 16px);
        line-height: 24px;
        letter-spacing: 0.2px;
        margin-bottom: 20px;
    }


    .menu_list-wrapper{
        li{
            margin-bottom: 16px;
        }
        li:last-child{
            margin-bottom: 0;
        }
        li a{
            color: #F4F4F5;
            @include font-size(12px, 14px);
            line-height: 26.46px;
            letter-spacing: 0.1px;

            &:hover{
                color: #FFFFFF;
                font-style: italic;
            }
        }
    }

    &__description{
        margin-top: 24px;
        @include respond-to(600){
            margin-top: 17px;
        }
        p{
            @include font-size(12px, 14px);
            font-weight: 400;
            line-height: 26.46px;
            letter-spacing: 0.2px;
        }
    }

    .content-wrapper-1{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: auto;
        row-gap: 30px;
    }

    .footer-style-2{
        margin-top: 18px;
        display: grid;
        grid-template-columns: minmax(auto, 50%) minmax(auto, 30%) minmax(auto, 20%);
        
    }
}

.widget-social-icons{
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    align-items: center;
    row-gap: 8px;
    column-gap: 24px;
    
    li a{
        display: block;
        position: relative;
        color: #252A2F;
        border-radius: 50%;
        background: #FFFFFF;
        width: 32px;
        height: 32px;

        svg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    li:nth-child(1){
        :hover path{
            transition: all .2s;
            fill: #3b5998;
        }
    }
    li:nth-child(2){
        :hover path{
            transition: all .2s;
            fill: #1da1f2;
        }
    }
    li:nth-child(3){
        :hover path{
            transition: all .2s;
            fill: #dd4b39;
        }
    }
    li:nth-child(4){
        :hover path{
            transition: all .2s;
            fill: #d6249f;
        }
    }
}

.license{
    padding-top: 16px;
    padding-bottom: 16px;
    @include respond-to(600) {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    line-height: 24px;
    letter-spacing: 0.1px;
}