#shopify-section-header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 99;
}

.header{
    padding-top: 34px;
    padding-bottom: 34px;
    position: relative;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > a{
        margin: 0;
        padding: 0;
        width: 200px;
        display: inline-flex;

        @include respond-to(600){
            width: 150px;
        }
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 999;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #F4F4F5;
    }

    #openNav{
        cursor: pointer;
        width: 24px;
        height: 24px;
    }

    #iconCustoms{
        position: relative;
        margin-right: 8px;
        display: none;
    }
    @include respond-to(600){
        #iconCustoms{
            display: block;
        }
        a.icon-login,
        a.icon-heart,
        a.icon-search{
            display: none;
        }
        .site-header__icon{
            padding: 5px;
        }
        padding-top: 17px;
        padding-bottom: 17px;
    }
}

/* Nav Links */
#navigation{
    opacity: 1;
    transition: all 0.25s;
}


.nav-links {
    list-style: none;
    @include font-size(14px, 16px);
    color: #F4F4F5;
}

.nav-links .its-parent,
.nav-links li a {
    display: block;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    color: #F4F4F5;
}

.nav-links .its-parent:hover,
.nav-links li a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.nav-links ul .its-parent:before,
.nav-links .has-child ul li a:before {
    content: "--";
    display: inline-block;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.4);
    width: 15px;
    height: 10px;
    position: relative;
    right: 10px;
}

.nav-links .has-child ul {
    margin-left: 35px;
    border-left: 1px dashed rgba(255, 255, 255, 0.4);
}

.nav-links .its-children {
    display: none;
    list-style: none;
}

.its-parent:after {
    content: "\27A4";
    float: right;
    margin-right: 20px;
    transition: .4s;
    font-size: 16px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.its-parent.downed {
    background: #808080;
}

.its-parent.downed:after {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
}

.downed ~ .its-children li{
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.d-hide{
    display: none;
    position: relative;
}

@include respond-to(600){
    .d-hide{
        display: block;
    }
    .site-header__cart{
        width: 33.14px;
    }
}

.hide-icons{
    display: none;
    transition: all 1s;
}

.list-icons{
    animation: fade-out .5s;
    position: absolute;
    top: 125%;
    right: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid #808080;
    background-color: antiquewhite;
    z-index: 5;
    padding: 0 20px;
}

.list-icons::after{
    content: "";
    height: 15px;
    width: 15px;
    position: absolute;
    top: -8px;
    right: 2.5px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: antiquewhite;
}

.show-icon ~ .hide-icons{
    display: block;
    .list-icons{
        animation: fadeInUp .5s;
    }
}

.site-header__cart{
    background-color: #F4F4F5;
    border-radius: 50%;
}

.site-header__cart-count{
    width: 1.5em !important;
    height: 1.5em !important;
    right: -0.2rem !important;
    top: -0.5rem !important;

    @include respond-to(600){
        width: 20px !important;
        height: 20px !important;
        right: -8px !important;
        top: -10px !important;
    }
}

.announcement{
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    z-index: 5;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 8px;

    @include respond-to(600){
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    h6{
        margin: 0;
        @include font-size(12px, 14px);
    }

    a{
        text-transform: uppercase;
        margin-right: 31px;
        @include font-size(12px, 14px);
        @include respond-to(768){
            margin-right: 11px;
        }
    }
    a:last-child{
        margin-right: 0;
    }
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; transform: translate(0px, 40px);}
    to { opacity: 1; transform: translate(0px, 0px);}
}
@keyframes fadeIn {
    from { opacity: 0; transform: translate(0px, 40px);}
    to { opacity: 1; transform: translate(0px, 0px);}
}