.list-product {

  .list-product-title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;

    .list-product-title-text{
      p{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 148%;
        align-items: center;
        letter-spacing: 1px;
        color: #0F1214;
      }
    }
    
    .list-product-title-button-slide{
      border: none;
      outline: 0;
      box-shadow: none;
      cursor: pointer;
      align-self: center;

      .list-product-title-pre-slide{
        padding-right: 10px;
        border: none;
        outline: 0;
        box-shadow: none;
        cursor: pointer;
        background-color: transparent;
      }

      .list-product-title-next-slide{
        padding-left: 10px;
        border: none;
        outline: 0;
        box-shadow: none;
        cursor: pointer;
        background-color: transparent;
      }

      path{
        fill: #14171A;
      }

      button[disabled] path{
          fill: #BABCBF;
      }
    }
  }
  .cart-product{
    width: 100%;
    position: relative;
    transition: all .5s ease;

    .cart-product-promotion{
      position: absolute;
      top: 17px;
      right: 10px;
      transition: all .5s ease;

      p{
        font-family: Old Standard TT;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 150%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2px;
        color: #252A2F;
      }
    }

    .cart-product-image{
      background: #EEEEEE;
      width: 100%;

      img{
        width: 100%;
        height: 100%;
      }

      .cart-color{
        display: none;
  
        .circle{
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
        
        .cl-black{
          background-color: black;
        }
        
        .cl-red{
          background-color: red;
        }
        
        .cl-yellow{
          background-color: yellow;
        }

        .cl-rainbow{
          background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        }
      }
    }

    .cart-product-title{
      width: 100%;
      padding-top: 10px;
      padding-bottom: 5px;

      h1{
        font-family: Lato;
        margin: 0;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        text-align: center;
        letter-spacing: 0.2px;
        color: #494F56;
      }
    }

    .cart-product-price{
      width: 100%;
      display: flex;
      justify-content: center;
      span{
        font-family: Lato;
        justify-content: center;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        text-align: center;
        letter-spacing: 0.2px;
        color: #0F1214;
      }

      .cart-prodcut-price-after-sale{
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 189%;
        display: flex;
        align-items: flex-end;
        text-align: center;
        letter-spacing: 0.2px;
        text-decoration-line: line-through;
        color: #71767C;
        padding-left: 5px;
      }
    }

    

  .cart-function{
    display: none;
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;
    padding: 0px 5px;
    align-items: center;

    .cart-modal{
      width: 20%;
      padding-right: 5px;
      svg{
        width: 100%;
      }
    }
    .cart-button{
      width: 60%;
      button{
        height: 40px;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: #252A2F;
        border: 1px solid #0F1214;
        box-sizing: border-box;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35), inset 0px 0px 4px rgba(27, 25, 25, 0.28);
        border-radius: 40px;
        display: flex;

        p{
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 189%;
          align-items: center;
          text-align: center;
          letter-spacing: 0.1px;
          color: #FFFFFF;
        }

        svg{
          padding-bottom: 3px;
          margin-right: 5px;
        }
      }
    }
    .cart-like{
      width: 20%;
      padding-left: 5px;
      svg{
        width: 100%;
      }
    }
  }
  }
  .cart-product:hover{
    box-shadow: 0 0 15px rgba(33,33,33,.2);
    padding: 10px;

    .cart-product-promotion{
      position: absolute;
      top: 20px;
      right: 18px;
    }
  
    .cart-color{
      display: flex;
      padding-bottom: 5px;
      .product-select{
        display: flex;
        margin: 0 auto;

        label{
          padding: 0 3px;
        }
      }
    }

    .cart-function{
      display: flex;
    }
  }
}

.list-product-style{
  padding: 60px 255px;
  display: flex;
  width: 100%;

  .list-product-style-title{
    width: 27%;
    padding-right: 20px;

    .list-product-style-title-text{
      width: 100%;
      p{
        margin-bottom: 18px;
        width: 100%;
        font-family: Playfair Display;
        font-style: normal;
        font-size: 26px;
        line-height: 148%;
        align-items: center;
        letter-spacing: 0.2px;
        color: #0F1214;

        strong{
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          display: flex;
          font-size: 26px;
          line-height: 148%;
          align-items: center;
          letter-spacing: 0.2px;
          color: #0F1214;
        }
      }
    }
    .list-product-style-title-content{
      width: 100%;
       p{
        margin-bottom: 18px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 189%;
        display: flex;
        align-items: center;
        letter-spacing: 0.1px;
        color: #494F56;
       }
    }
    .list-product-style-title-button-slide{
      width: 100%;

      .list-product-style-title-pre-slide{
        padding: 0;
        border: none;
        outline: 0;
        box-shadow: none;
        cursor: pointer;
        background-color: transparent;
      }
      .list-product-style-title-next-slide{
        padding: 0;
        padding-left: 20px;
        border: none;
        outline: 0;
        box-shadow: none;
        cursor: pointer;
        background-color: transparent;
      }
      path{
        fill: #14171A;
      }
  
      button[disabled] path{
          fill: #BABCBF;
      }
    }
  }
  .cart-product-style{
    position: relative;
    transition: all .5s ease;
    .cart-product-style-promotion{
      position: absolute;
      right: 0;
      background: #252A2F;
      width: 23%;
      top: 12px;

      p{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1px;
        color: #FFFFFF;
      }
    }
    .cart-product-style-image{
      background: #F4F4F5;
      width: 100%;
      height: 280px;

      img{
        width: 100%;
        height: 100%;
      }
    }
    .cart-product-style-title{
      display: none;
    }
    .cart-product-style-price{
      display: none;
    }
    .cart-style-function{
      display: none;
    }
  }
  .cart-product-style:hover{
    box-shadow: 0 0 15px rgba(33,33,33,.2);
    transition: all .5s ease;

    .cart-product-style-promotion{
      transition: all .5s ease;
      display: none;
    }
    .cart-product-style-image{
      transition: all .5s ease;
      opacity: 0.1;
    }
    .cart-product-style-title{
      transition: all .5s ease;
      position: absolute;
      display: block;
      left: 15px;
      bottom: 28px;

      h1{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 0.2px;
        color: #494F56;
      }
    }
    .cart-product-style-price{
      transition: all .5s ease;
      display: block;
      position: absolute;
      left: 15px;
      bottom: 20px;
      .cart-product-style-price-sale{ 
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.2px;
        color: #04287A;
      }
      .cart-prodcut-style-price-after-sale{
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 189%;
        letter-spacing: 0.2px;
        text-decoration-line: line-through;
        color: #71767C;
        padding-left: 5px;
      }
      .cart-product-style-price-original{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.2px;
        color: #04287A;
      }
    }
    .cart-style-function{
      transition: all .5s ease;
      position: absolute;
      display: block;
      top: 20px;
      right: 10px;
    }
  }
}
